@import url("https://fonts.googleapis.com/css?family=Oswald");
.nav {
  background-color: #000000;
  height: 80px;
  width: 101%;
  position: fixed;
  z-index: 1;
}
.nav img {
  width: 130px;
  margin-left: 30px;
}
.nav img::selection {
  color: white;
  background-color: #c59d5f;
}
.nav a {
  color: white;
  font-family: "Arial";
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin: 25px 20px;
}
.nav a::selection {
  color: white;
  background-color: #c59d5f;
}
.nav a:hover {
  color: #c59d5f;
}
.nav .sign {
  margin: 25px 0 0 50px;
}

.home .general {
  background: linear-gradient(black, rgba(109, 109, 109, 0.5)), url("imgs/background_home.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 850px;
  text-align: center;
  padding-top: 300px;
}
.home .general h1 {
  color: white;
  font-family: "Oswald";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 80px;
}
.home .general h1::selection {
  color: white;
  background-color: #c59d5f;
}
.home .general #quote {
  font-family: "Brush Script MT";
  color: #c59d5f;
  font-size: 30px;
}
.home .general #quote::selection {
  color: white;
  background-color: #c59d5f;
}
.home .general .marquee {
  overflow: hidden;
  font-size: 0;
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: default;
  user-select: none;
  position: absolute;
  top: 50px;
}
.home .general .marquee .marquee-text {
  font-size: 24vmax;
  margin-left: 200px;
  color: white;
  opacity: 0.15;
  font-weight: 600;
  white-space: nowrap;
  display: inline-block;
  width: auto;
  font-family: Oswald;
}
.home .about {
  height: 500px;
  background-color: #f6f6f6;
  padding: 90px;
  font-family: "Brush Script MT";
  color: #c59d5f;
  font-size: 30px;
  color: black;
  text-align: center;
  font-family: Oswald;
}
.home .about::selection {
  color: white;
  background-color: #c59d5f;
}
.home .about b {
  color: #c59d5f;
}

.footer {
  background-color: #000000;
  color: white;
  line-height: 30px;
  width: 101%;
}
.footer p {
  text-transform: uppercase;
  font-weight: bold;
}
.footer p::selection {
  color: white;
  background-color: #c59d5f;
}
.footer a {
  color: white;
  font-family: "Arial";
  text-decoration: none;
  font-weight: bold;
}
.footer a::selection {
  color: white;
  background-color: #c59d5f;
}
.footer .icon {
  background: url("imgs/css_sprites.png") no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 5px;
  vertical-align: bottom;
}
.footer .info p {
  margin-left: 10px;
}
.footer .info p::selection {
  color: white;
  background-color: #c59d5f;
}
.footer .info-block {
  margin: 50px 100px;
}
.footer .info-block::selection {
  color: white;
  background-color: #c59d5f;
}
.footer .info .icon-location {
  background-position: -20px -24px;
}
.footer .info .icon-tel {
  background-position: -20px -70px;
}
.footer .info .icon-email {
  background-position: -20px -115px;
}
.footer .hours {
  margin: 50px 100px;
}
.footer .hours::selection {
  color: white;
  background-color: #c59d5f;
}
.footer .follow {
  margin: 50px 100px;
}
.footer .follow p {
  margin-left: 5px;
}
.footer .follow .icon-ig {
  background-position: -87px -19px;
}
.footer .follow .icon-fb {
  background-position: -87px -65px;
}
.footer .follow .icon-tw {
  background-position: -87px -115px;
}

.services-general {
  background: linear-gradient(black, rgba(109, 109, 109, 0.5)), url("imgs/background_services.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 850px;
  text-align: center;
  padding-top: 80px;
  overflow: hidden;
}
.services-general h1 {
  font-size: 50px;
  color: white;
  font-family: "Oswald";
  font-weight: bold;
  text-transform: uppercase;
}
.services-general h1::selection {
  color: white;
  background-color: #c59d5f;
}
.services-general p {
  font-family: "Brush Script MT";
  color: #c59d5f;
  font-size: 30px;
}
.services-general p::selection {
  color: white;
  background-color: #c59d5f;
}
.services-general ul {
  color: white;
  font-size: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
  margin-top: 10px;
}
.services-general ul li {
  padding-bottom: 30px;
  margin-left: 95px;
}
.services-general ul li::selection {
  color: white;
  background-color: #c59d5f;
}
.services-general ul li b::selection {
  color: white;
  background-color: #c59d5f;
}
.services-general ul li span {
  color: #c59d5f;
}
.services-general ul li span::selection {
  color: white;
  background-color: #c59d5f;
}
.services-general ul li div {
  font-family: Arial;
  font-size: 15px;
  text-align: left;
}
.services-general ul li div::selection {
  color: white;
  background-color: #c59d5f;
}
.services button {
  color: white;
  font-family: "Oswald";
  font-weight: bold;
  text-transform: uppercase;
  background-color: #c59d5f;
  width: 150px;
  border-radius: 0;
}
.services button::selection {
  color: white;
  background-color: #c59d5f;
}
.services button:hover {
  color: black;
}
.services button:active {
  box-shadow: 0 0 10px black;
}
.services button:focus {
  box-shadow: 0 0 10px black;
}
.services-imgs {
  height: 800px;
  background-color: #313131;
  padding: 60px;
  text-align: center;
}
.services-imgs h2 {
  color: white;
  font-family: "Oswald";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 50px;
}
.services-imgs h2::selection {
  color: white;
  background-color: #c59d5f;
}
.services-imgs img {
  margin: 20px;
  width: 250px;
  height: 250px;
  border: 5px solid white;
}
.services-imgs img:hover {
  transform: scale(1.2);
  transition: 1s;
}

.alert {
  height: 30px;
  line-height: 30px;
  padding: 0 100px 30px;
}

.signIn {
  height: 650px;
  background-color: white;
  padding: 150px 100px;
}
.signIn h2 {
  font-family: "Oswald";
  color: black;
  font-size: 50px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.signIn h2::selection {
  color: white;
  background-color: #c59d5f;
}
.signIn label {
  font-family: Arial;
  color: #828282;
  margin-top: 10px;
}
.signIn label::selection {
  color: white;
  background-color: #c59d5f;
}
.signIn input {
  border: none;
  height: 45px;
  width: 100%;
  border-radius: 0px;
  background-color: #f6f6f6;
  padding-left: 10px;
}
.signIn button {
  color: white;
  font-family: "Oswald";
  font-weight: bold;
  text-transform: uppercase;
  background-color: #c59d5f;
  width: 150px;
  border-radius: 0;
  margin: 50px 50px 20px 0;
}
.signIn button::selection {
  color: white;
  background-color: #c59d5f;
}
.signIn button:hover {
  color: black;
}
.signIn button:active {
  box-shadow: 0 0 10px black;
}
.signIn button:focus {
  box-shadow: 0 0 10px black;
}
.signIn #signUp {
  position: absolute;
  right: 50px;
}
.signIn .help-block {
  color: #c59d5f;
}

.signUp {
  height: 900px;
  background-color: white;
  padding: 150px 100px;
}
.signUp h2 {
  font-family: "Oswald";
  color: black;
  font-size: 50px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.signUp h2::selection {
  color: white;
  background-color: #c59d5f;
}
.signUp label {
  font-family: Arial;
  color: #828282;
  margin-top: 10px;
}
.signUp label::selection {
  color: white;
  background-color: #c59d5f;
}
.signUp input {
  border: none;
  height: 45px;
  width: 100%;
  border-radius: 0px;
  background-color: #f6f6f6;
  padding-left: 10px;
}
.signUp button {
  color: white;
  font-family: "Oswald";
  font-weight: bold;
  text-transform: uppercase;
  background-color: #c59d5f;
  width: 150px;
  border-radius: 0;
  margin: 50px 50px 20px 0;
}
.signUp button::selection {
  color: white;
  background-color: #c59d5f;
}
.signUp button:hover {
  color: black;
}
.signUp button:active {
  box-shadow: 0 0 10px black;
}
.signUp button:focus {
  box-shadow: 0 0 10px black;
}
.signUp #signIn {
  position: absolute;
  right: -65px;
}
.signUp .help-block {
  color: #c59d5f;
}

.profile {
  height: 900px;
  background-color: #f6f6f6;
  padding: 150px 0;
  overflow: hidden;
}
.profile::selection {
  color: white;
  background-color: #c59d5f;
}
.profile label {
  font-family: Arial;
  color: #828282;
  margin-top: 10px;
}
.profile label::selection {
  color: white;
  background-color: #c59d5f;
}
.profile h1 {
  color: white;
  font-family: "Oswald";
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  margin-left: 80px;
}
.profile h1::selection {
  color: white;
  background-color: #c59d5f;
}
.profile h1::selection {
  color: white;
  background-color: #c59d5f;
}
.profile img {
  position: absolute;
  right: 100px;
  top: 100px;
  width: 300px;
  height: 300px;
}
.profile .name {
  margin: 40px 80px;
  font-family: Oswald;
  color: #c59d5f;
  font-size: 20px;
}
.profile .name::selection {
  color: white;
  background-color: #c59d5f;
}
.profile .book {
  background-color: white;
  height: 500px;
  padding: 70px;
}
.profile .book h2 {
  color: white;
  font-family: "Oswald";
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}
.profile .book h2::selection {
  color: white;
  background-color: #c59d5f;
}
.profile .book .serv {
  margin: 30px 0 0 0;
}
.profile .book .serv select {
  border: none;
  height: 45px;
  width: 100%;
  border-radius: 0px;
  background-color: #f6f6f6;
  padding-left: 10px;
  width: 50%;
  margin-bottom: 30px;
  font-size: 20px;
}
.profile .book .serv select::selection {
  color: white;
  background-color: #c59d5f;
}
.profile .book .serv select option:hover {
  background-color: #c59d5f;
}
.profile .book .dateTime input {
  border: none;
  height: 45px;
  width: 100%;
  border-radius: 0px;
  background-color: #f6f6f6;
  padding-left: 10px;
}
.profile .book .dateTime .react-datepicker__day--selected {
  background-color: #c59d5f;
}
.profile .book .dateTime .react-datepicker__day:hover {
  background-color: #c59d5f;
}
.profile .book .buttons {
  margin-top: 50px;
}
.profile .book .buttons #signUp {
  color: white;
  font-family: "Oswald";
  font-weight: bold;
  text-transform: uppercase;
  background-color: #c59d5f;
  width: 150px;
  border-radius: 0;
}
.profile .book .buttons #signUp::selection {
  color: white;
  background-color: #c59d5f;
}
.profile .book .buttons #signUp:hover {
  color: black;
}
.profile .book .buttons #signUp:active {
  box-shadow: 0 0 10px black;
}
.profile .book .buttons #signUp:focus {
  box-shadow: 0 0 10px black;
}
.profile .book .buttons #logout {
  color: white;
  font-family: "Oswald";
  font-weight: bold;
  text-transform: uppercase;
  background-color: #c59d5f;
  width: 150px;
  border-radius: 0;
  position: absolute;
  right: -15px;
}
.profile .book .buttons #logout::selection {
  color: white;
  background-color: #c59d5f;
}
.profile .book .buttons #logout:hover {
  color: black;
}
.profile .book .buttons #logout:active {
  box-shadow: 0 0 10px black;
}
.profile .book .buttons #logout:focus {
  box-shadow: 0 0 10px black;
}

/*# sourceMappingURL=App.css.map */
