@import url("https://fonts.googleapis.com/css?family=Oswald");

$color-beige: #c59d5f;
$color-gray: #828282;
$color-light-gray: #f6f6f6;

@mixin selection {
  &::selection {
    color: white;
    background-color: $color-beige;
  }
}
@mixin white-text-a {
  color: white;
  font-family: "Arial";
  text-decoration: none;
  font-weight: bold;
  @include selection;
}
@mixin white-text-h {
  color: white;
  font-family: "Oswald";
  font-weight: bold;
  text-transform: uppercase;
  @include selection;
}
@mixin beige-text-p {
  font-family: "Brush Script MT";
  color: $color-beige;
  font-size: 30px;
  @include selection;
}
@mixin forms {
  border: none;
  height: 45px;
  width: 100%;
  border-radius: 0px;
  background-color: $color-light-gray;
  padding-left: 10px;
}
@mixin label {
  font-family: Arial;
  color: $color-gray;
  margin-top: 10px;
  @include selection;
}
@mixin button {
  @include white-text-h;
  background-color: $color-beige;
  width: 150px;
  border-radius: 0;

  &:hover {
    color: black;
  }

  &:active {
    box-shadow: 0 0 10px black;
  }

  &:focus {
    box-shadow: 0 0 10px black;
  }
}
@mixin background_page ($address) {
  background: linear-gradient(black, rgba(109, 109, 109, 0.5)), url($address);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 850px;
  text-align: center;
}

.nav {
  background-color: #000000;
  height: 80px;
  width: 101%;
  position: fixed;
  z-index: 1;

  img {
    width: 130px;
    margin-left: 30px;
    @include selection;
  }

  a {
    @include white-text-a;
    font-size: 20px;
    margin: 25px 20px;

    &:hover {
      color: $color-beige;
    }
  }

  .sign {
    margin: 25px 0 0 50px;
  }
}

.home {
  .general {
    @include background_page('imgs/background_home.jpg');
    padding-top: 300px;

    h1 {
      @include white-text-h;
      font-size: 80px;
    }

    #quote {
      @include beige-text-p;
    }

    .marquee {
      overflow: hidden;
      font-size: 0;
      color: white;
      font-family: sans-serif;
      text-transform: uppercase;
      white-space: nowrap;
      cursor: default;
      user-select: none;
      position: absolute;
      top: 50px;

      .marquee-text {
        font-size: 24vmax;
        margin-left: 200px;
        color: white;
        opacity: .15;
        font-weight: 600;
        white-space: nowrap;
        display: inline-block;
        width: auto;
        font-family: Oswald;
      }
    }
  }

  .about {
    height: 500px;
    background-color: $color-light-gray;
    padding: 90px;
    @include beige-text-p;
    color: black;
    text-align: center;
    font-family: Oswald;

    b {
      color: $color-beige;
    }
  }
}

.footer {
  background-color: #000000;
  color: white;
  line-height: 30px;
  width: 101%;

  p {
    text-transform: uppercase;
    font-weight: bold;
    @include selection;
  }

  a {
    @include white-text-a;
  }

  .icon {
    background: url("imgs/css_sprites.png") no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    vertical-align: bottom;
  }

  .info {

    p {
      margin-left: 10px;
      @include selection;
    }

    &-block {
      margin: 50px 100px;
      @include selection;
    }

    .icon {
      &-location {
        background-position: -20px -24px;
      }

      &-tel {
        background-position: -20px -70px;
      }

      &-email {
        background-position: -20px -115px;
      }
    }
  }

  .hours {
    margin: 50px 100px;
    @include selection;
  }

  .follow {
    margin: 50px 100px;

    p {
      margin-left: 5px;
    }

    .icon {
      &-ig {
        background-position: -87px -19px;
      }

      &-fb {
        background-position: -87px -65px;
      }

      &-tw {
        background-position: -87px -115px;
      }
    }
  }

}

.services {
  &-general {
    @include background_page('imgs/background_services.jpg');
    padding-top: 80px;
    overflow: hidden;

    h1 {
      font-size: 50px;
      @include white-text-h;
    }

    p {
      @include beige-text-p;
    }

    ul {
      color: white;
      font-size: 20px;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 400px;
      margin-top: 10px;

      li {
        padding-bottom: 30px;
        margin-left: 95px;
        @include selection;

        b {
          @include selection;
        }

        span {
          color: $color-beige;
          @include selection;
        }

        div {
          font-family: Arial;
          font-size: 15px;
          text-align: left;
          @include selection;
        }
      }
  }
  }

  button {
    @include button;
  }

  &-imgs {
    height: 800px;
    background-color: #313131;
    padding: 60px;
    text-align: center;

    h2 {
      @include white-text-h;
      font-size: 50px;
      margin-bottom: 50px;
    }

    img {
      margin: 20px;
      width: 250px;
      height: 250px;
      border: 5px solid white;

      &:hover {
        transform: scale(1.2);
        transition: 1s;
      }
    }
  }
}

.alert{
  height: 50px;
  text-align: center;
  line-height: 30px;
  width: 560px;
  margin: -50px 0 30px 100px;
  border-radius: 0px;
}

.signIn {
  height: auto;
  background-color: white;
  padding: 150px 100px 50px 100px;

  h2 {
    font-family: "Oswald";
    color: black;
    font-size: 50px;
    text-transform: uppercase;
    padding-bottom: 20px;
    @include selection;
  }

  label {
    @include label;
  }

  input {
    @include forms;
  }

  button {
    @include button;
    margin: 50px 50px 20px 0;
  }

  #signUp {
    position: absolute;
    right: 50px;
  }

  .help-block {
    color: $color-beige;
  }
}

.signUp {
  height: auto;
  background-color: white;
  padding:150px 100px 50px 100px;

  h2 {
    font-family: "Oswald";
    color: black;
    font-size: 50px;
    text-transform: uppercase;
    padding-bottom: 20px;
    @include selection;
  }

  label {
    @include label;
  }

  input {
    @include forms;
  }

  button {
    @include button;
    margin: 50px 0px 20px 0;
  }

  #signIn {
    position:absolute;
    right: -295px;
  }

  .help-block {
    color: $color-beige;
  }
}

.profile {
  height: auto;
  background-color: $color-light-gray;
  padding-top: 150px;
  overflow: hidden;
  @include selection;

  label {
    @include label;
  }

  h1 {
    @include white-text-h;
    color: black;
    @include selection;
    margin-left: 80px;
  }

  img {
    position: absolute;
    right: 100px;
    top: 100px;
    width: 300px;
    height: 300px;
  }

  .name {
    margin: 40px 80px;
    font-family: Oswald;
    color: $color-beige;
    font-size: 20px;
    @include selection;
  }
}

.book {
  background-color: white;
  height: auto;
  padding: 70px 0 50px 80px;

  h2 {
    @include white-text-h;
    color: black;
  }

  .serv {
    margin: 30px 0 0 0;
    font-family: Arial;

    #serv {
      @include forms;
      width: 40%;
      margin-bottom: 30px;
      @include selection;
      font-size: 17px;
      font-weight: bold;
    }
  }
  .dateTime {
    input {
      @include forms;
    }

    .react-datepicker {
      &__day{
        &--selected {
          background-color: $color-beige;
        }

        &:hover {
          background-color: $color-beige;
        }
      }
    }
  }

  .buttons {
    margin-top: 50px;

    #signUp {
      @include button;
    }

    #logout {
      @include button;
      position:absolute;
      left: 440px;
    }
  }

  .appointment {
    button {
      @include button;
      padding: 2px 2px 2px 2px;
      position: absolute;
      left: 490px;
      top: 35px;
      width: 90px;
      height: 40px;
      font-size: 13px;
      margin-top: 70px;
    }

    .item {
      padding: 10px;
      margin-top: 50px;
      heigth: 100px;
      width: 575px;
      background-color: $color-light-gray;
      word-wrap: normal;
      font-weight: bold;

      b {
        color: $color-beige;
      }
    }
  }
}
